<div *ngIf="isLoading" fxFlex="100" fxLayout="column"
     fxLayoutAlign="space-evenly center" style="height: 80vh">
  <ng-container>
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
</div>
<div *ngIf="!isLoading" class="myContact" fxFlex="100" fxLayoutAlign="center">
  <mat-card fxFlex.lt-sm="100" fxFlex.sm="60" fxFlex.gt-sm="50" fxFlex.gt-md="40" fxLayout="column" >
    <mat-card-header fxLayoutAlign="end">
      <button type="button" class="close" (click)="cancel()" aria-label="Close" matTooltip="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <form [formGroup]="contactFG" (submit)="contactSubmit()"
      >
        <div>
          <mat-form-field>
            <mat-label>last name</mat-label>
            <input matInput
                   required
                   [formControl]="lastNameFC"
                   [errorStateMatcher]="matcher"
            >
            <mat-hint>characters and blanks only</mat-hint>
            <mat-error *ngIf="lastNameFC.hasError('required')">required fields</mat-error>
            <mat-error *ngIf="lastNameFC.hasError('pattern')">forbidden symbols</mat-error>
          </mat-form-field>
        </div>
       <div>
         <mat-form-field>
           <mat-label>name</mat-label>
           <input matInput
                  required
                  [formControl]="nameFC"
                  [errorStateMatcher]="matcher"
           >
           <mat-hint>characters and blanks only</mat-hint>
           <mat-error *ngIf="nameFC.hasError('required')">required fields</mat-error>
           <mat-error *ngIf="nameFC.hasError('pattern')">forbidden symbols</mat-error>
         </mat-form-field>
       </div>
        <div>
          <mat-form-field>
            <mat-label>phone number</mat-label>
            <input matInput
                   required
                   [formControl]="phoneFC"
                   [errorStateMatcher]="matcher"
            >
            <mat-hint>[XX]X-[XX]X-XXX-XXXX</mat-hint>
            <mat-error *ngIf="phoneFC.invalid">doesnt match to [XX]X-[XX]X-XXX-XXXX</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>email</mat-label>
            <input matInput
                   required
                   [formControl]="emailFC"
                   [errorStateMatcher]="matcher"
            >
            <mat-hint>xxxx@xxx.[xx]xx</mat-hint>
            <mat-error *ngIf="emailFC.hasError('required')">required field</mat-error>
            <mat-error *ngIf="emailFC.hasError('pattern')">forbidden symbols</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>address</mat-label>
            <input matInput
                   [formControl]="addressFC"
                   [errorStateMatcher]="matcher"
            >
            <mat-hint>characters, digits, blanks and ;,- only</mat-hint>
            <mat-error *ngIf="addressFC.hasError('required')">required field</mat-error>
            <mat-error *ngIf="addressFC.hasError('pattern')">forbidden symbols</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>description</mat-label>
            <textarea matInput
                      [formControl]="descriptionFC"
                      placeholder="your comments"
            ></textarea>
            <mat-hint>not more than 50 symbols</mat-hint>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="end" style="margin: 48px 0 0 0">
          <button type="submit" mat-raised-button color="primary"><mat-icon>check</mat-icon><span class="buttonText" fxHide.xs>Submit</span></button>
          <button type="reset" mat-raised-button color="primary"><mat-icon>refresh</mat-icon><span class="buttonText" fxHide.xs>Clear</span></button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
