button, p {
  font-family: Comfortaa, cursive;
  font-weight: bold;
  margin: 5px;
}
.buttonText {
  margin-left: 4px;
}

mat-form-field {
  font-family: Comfortaa, cursive;
  /*margin: 10px;*/
  width: 100%;
}
.myContact {
  position: absolute;
  left: 0;
  width: 100%;
  /*min-height: 100%;*/
  /*overflow-y: scroll;*/
  background-color: rgba(228, 241, 246, 0.7);
}
mat-card-content {
  /*margin: 0 48px 0 48px;*/
  /*!*min-height: 80vh;*!*/
  /*min-height: 100%;*/
}
mat-card {

}

