button, p {
  font-family: Comfortaa, cursive;
  font-weight: bold;
  margin: 5px;
}
.buttonText {
  margin-left: 4px;
}

mat-form-field {
  font-family: Comfortaa, cursive;
  width: 100%;
  padding: 5px 0 5px 0;
}

mat-card-content {
  margin: 0 48px 0 48px;
}
mat-card {

}

