.mainTitle {
  font-family: Comfortaa, cursive;
  color: #E4F1F6;
}
button {
  font-family: Comfortaa, cursive;
  font-weight: bold;
  margin: 5px;
}
mat-card {
  width: 100vw;
  height: 100vh;
  background-color: #E4F1F6;
}
img {
  margin: 5px;
}
