.mainTitle {
  /*font-family: "Tw Cen MT", serif;*/
  font-family: Comfortaa, cursive;
  /*font-size: 50px;*/
  color: #E4F1F6;
}
button {
  /*font-family: "Tw Cen MT", serif;*/
  font-family: Comfortaa, cursive;
  /*font-size: 20px;*/
  font-weight: bold;
  margin: 5px;
}
mat-card {
  width: 100vw;
  height: 100vh;
  background-color: #E4F1F6;
}
img {
  margin: 5px;
}
