<div *ngIf="isLoading" fxFlex="100" fxLayout="column"
     fxLayoutAlign="space-evenly center" style="height: 80vh">
  <ng-container>
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
</div>
<div *ngIf="!isLoading" fxFlex="100">
  <div fxLayout="row" fxLayoutAlign="space-between none"  style="padding: 0 16px 0 16px; margin: 20px 0 0 0 ">
    <div>
      <button mat-flat-button
              color="primary" style="margin: 0 10px 0 0"
              [disabled]="markedContactsIds.length > 0"
              (click)="addContact('new')"
      > <mat-icon>add</mat-icon><span fxHide.xs> Add </span></button>
      <button mat-flat-button
              color="primary" style="margin: 0 10px 0 0"
              [disabled]="markedContactsIds.length != 1"
              (click)="correctContact('id:' + markedContactsIds[0])"
      ><mat-icon>edit</mat-icon><span fxHide.xs> Edit </span></button>
      <button mat-flat-button
              color="warn" style="margin: 0 10px 0 0"
              [disabled]="markedContactsIds.length == 0"
              (click)="removeContacts()"
      ><mat-icon>clear</mat-icon><span fxHide.xs>  Remove </span></button>
    </div>
    <div>
      <button mat-flat-button
              color="primary"
              (click)="refresh()"
              matTooltip="clear all selections"
      ><mat-icon>refresh</mat-icon><span fxHide.xs> Refresh </span></button>
    </div>
  </div>
  <mat-form-field style="padding: 0 16px 0 16px;">
    <input matInput
           (keyup)="applyFilter($event.target.value)"
           placeholder="Filter"
           matTooltip="enter the first few letters or numbers">
  </mat-form-field>
<br>
  <mat-table [dataSource]="dataSource"
             matSort matSortDisableClear
             multiTemplateDataRows
             matSortActive="lastName" matSortDirection="asc">
    <mat-expansion-panel (opened)="panelOpenState = true">
    </mat-expansion-panel>
    <ng-container matColumnDef="expand">
      <mat-cell *matCellDef="let obj"
                [attr.colspan]="displayedColumns.length">
        <div>
          <p><b>id:</b> {{ obj.id }}</p>
          <p><b>name:</b> {{ obj.name }}</p>
          <p><b>last name:</b> {{ obj.lastName }}</p>
          <p><b>phone:</b> {{ obj.phone }}</p>
          <p><b>email:</b> {{ obj.email }}</p>
          <p><b>address:</b> {{ obj.address }}</p>
          <p><b>description:</b> {{ obj.description }}</p>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mark">
      <mat-header-cell *matHeaderCellDef fxFlex="15">
        <mat-checkbox color="accent"
                      [checked]="markedAll"
                      (change)="markAll()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let obj" fxFlex="15">
        <mat-checkbox color="primary"
                      [checked]="isMarked(obj.id)"
                      (change)="checkBoxListener(obj.id)"
                      (click)="stopProp($event)"
        ></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Family name</mat-header-cell>
      <mat-cell *matCellDef="let obj">{{ obj.lastName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell fxHide.xs *matHeaderCellDef mat-sort-header>Private name</mat-header-cell>
      <mat-cell fxHide.xs *matCellDef="let obj">{{ obj.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef>Phone number</mat-header-cell>
      <mat-cell *matCellDef="let obj">{{ obj.phone }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"
             (click)="expandedRow = row == expandedRow ? null : row"
             class="alwaysView"
    ></mat-row>
    <mat-row *matRowDef="let row; columns: ['expand']"
             [@fullInfo]="row == expandedRow ? 'open' : 'closed'"
             class="accordion"></mat-row>
  </mat-table>
<mat-paginator *ngIf="!isLoading" #paginator
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 15]"
               [showFirstLastButtons]="true"
></mat-paginator>
</div>
