.accordion{box-sizing: border-box; overflow: hidden; min-height: 0;
  border: none;  background-color: #67AFCB; height: auto;}
.expanded {height: auto;}
.mainTitle {
  font-family: Comfortaa, cursive;
  color: #E4F1F6;
}
button {
  font-family: Comfortaa, cursive;
  font-weight: bold;
  margin: 5px;
}
mat-card {
  min-height: 90vh;
  background-color: #E4F1F6;
}
mat-form-field, mat-table {
  font-family: Comfortaa, cursive;
}
.alwaysView:hover {
  background-color: rgba(103, 175, 203, 0.5);
  cursor: pointer;
}
b::selection,p::selection,mat-cell::selection {
  background-color: #F8C822;
}


